//! **************************************************************************
// Written by: Map P.20131013 on Thu Jan 14 10:57:01 2021
//! **************************************************************************

SCHEMATIC START;
COMP "SET_MODE" LOCATE = SITE "P15" LEVEL 1;
COMP "PLUS_ONE" LOCATE = SITE "P36" LEVEL 1;
COMP "LED_digit<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "LED_digit<1>" LOCATE = SITE "P13" LEVEL 1;
COMP "LED_digit<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "LED_digit<3>" LOCATE = SITE "P3" LEVEL 1;
COMP "MCLK" LOCATE = SITE "P40" LEVEL 1;
COMP "ALARM" LOCATE = SITE "P86" LEVEL 1;
COMP "SEVSEG_CONTROL<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "SEVSEG_CONTROL<1>" LOCATE = SITE "P49" LEVEL 1;
COMP "SEVSEG_CONTROL<2>" LOCATE = SITE "P52" LEVEL 1;
COMP "SEVSEG_CONTROL<3>" LOCATE = SITE "P56" LEVEL 1;
COMP "SEVSEG_CONTROL<4>" LOCATE = SITE "P59" LEVEL 1;
COMP "SEVSEG_CONTROL<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SEVSEG_CONTROL<6>" LOCATE = SITE "P60" LEVEL 1;
COMP "SEVSEG_CONTROL<7>" LOCATE = SITE "P61" LEVEL 1;
COMP "RESET" LOCATE = SITE "P37" LEVEL 1;
COMP "START" LOCATE = SITE "P78" LEVEL 1;
COMP "SET_SELECT<0>" LOCATE = SITE "P12" LEVEL 1;
COMP "SET_SELECT<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "SEVSEG_DATA<0>" LOCATE = SITE "P64" LEVEL 1;
COMP "SEVSEG_DATA<1>" LOCATE = SITE "P98" LEVEL 1;
COMP "SEVSEG_DATA<2>" LOCATE = SITE "P73" LEVEL 1;
COMP "SEVSEG_DATA<3>" LOCATE = SITE "P72" LEVEL 1;
COMP "SEVSEG_DATA<4>" LOCATE = SITE "P65" LEVEL 1;
COMP "SEVSEG_DATA<5>" LOCATE = SITE "P62" LEVEL 1;
COMP "SEVSEG_DATA<6>" LOCATE = SITE "P71" LEVEL 1;
SCHEMATIC END;

